* {
    padding: 0;
    margin: 0;
}

.header {
    background-image: url("/src/image/2d92ffc2066abeb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.h1 {
    cursor: pointer;
    padding: 1rem 0 0.6rem;
    color: rgb(245, 255, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: rgb(250, 250, 210);
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    height: 30px;
    width: 280px;
    border-radius: 0%;
}

.categories {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-filter {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.sort {
    display: flex;
    align-items: center;
}

.counter {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.oneBook {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    box-sizing: border-box;
    height: 370px;
    width: 280px;
    background-color: gainsboro;
}

.book_img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.book_file {
    height: 60%;
    -webkit-box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
    box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
}

.book_bottom {
    margin-top: auto;
    height: 148px;
}

.book_category {
    margin-left: 10px;
    margin-top: 0.5rem;
    text-decoration: underline;
    color: grey;
}

.bookname {
    margin-top: 0.5rem;
    margin-left: 10px;
    font-size: 18px;
}

.book_author {
    margin-left: 10px;
}

.toggle, .dropdown_menu {
    border-radius: 0%;
}

.bookpage {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    gap: 20px;
}

.bookpage_left {
    display: flex;
}

.bookpage_img-file {
    -webkit-box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
    box-shadow: 40px 40px 34px -15px rgba(34, 60, 80, 0.2);
}

.bookpage_right {
    box-sizing: border-box;
    max-width: 40vw;
}


.bookpage_name {
    margin-top: 0.3rem;
}

.bookpage_author {
    text-decoration: underline;
}

.bookpage_text {
    margin-top: 1rem;
}

.loadmore {
    display: flex;
    justify-content: center;
}

.loadmore_button {
    position: relative;
    background-color: rgb(106, 230, 23);
    border: none;
    font-size: 20px;
    color: #ffffffd3;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.loadmore_button:after {
    content: '';
    background: #1550d1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.loadmore_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .header__filter-sort {
        margin-top: 0.5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__sort {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .bookpage {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .categories {
        margin-top: 0.5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sort {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .bookpage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bookpage_right {
        box-sizing: border-box;
        max-width: 90vw;
    }
}
